{% extends 'base.html' %}
{% block revenue %}
    <h2>Revenue Cost</h2>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Event</th>
                <th>Probability</th>
                <th>Revenue</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for foo in revenue %}

                <tr>
                    <td>{{ foo.action }}</td>
                    <td>{{ foo.event }}</td>
                    <td>{{ foo.probability }}</td>
                    <td>{{ foo.revenue }} $</td>
                    <td>{{ foo.cost }} $</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}