{% extends 'base.html' %}
{% block reportEMV %}

    {% if probability != 1 %}
        <h1 class="error">Сумма вероятностей неравен 1</h1>
    {% else %}
        <h3>Отчет: Рекомендация для нашего клиента</h3>
        <p class = 'report'> Моему клиенту рекомендуется выбрать действие <b>{{ action }} </b>
        Такое решение обеспечмвает ему минимум среднее ожидаемое значение
            потери равное <b>{{ cp }} $ </b>, это решение принесет такие минимальные потери если многократно в пределе
            бесчисленное множество раз будет решать эту задачу и при этом каждый раз будет выбирать действие <b>{{ action }} </b>
            При заданных в таблице исходных данных задач
            <i>{Это значит, что минимальное
            среднее ожидаемой значение процента потерь составит <b>{{ cp }} $</b> на на каждое решение задачи }</i></p>

        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Event</th>
                    <th>Probability</th>
                    <th>Премия</th>
                    <th>Штраф</th>
                    <th>ПБК</th>
                    <th>ПБД</th>
                </tr>
            </thead>
            <tbody>
            {% for foo in wp %}

                <tr>
                    <td>{{ foo.action }},
                        с некачественным изделием не выше <b>{{ foo.quality }}%</b>,
                        с премией <b>{{ foo.p }}$</b>,
                        и со штрафом в <b>{{ foo.f }}$</b></td>
                    <td>Процент брака по делу: <b>{{ foo.event.percent }} %</b>, с вероятностью <b>{{ foo.probability }}</b></td>
                    <td>{{ foo.probability }}</td>
                    <td>{{ foo.p }}</td>
                    <td>{{ foo.f }}</td>
                    <td><b><b>{{ foo.quality }}%</b></b></td>
                    <td><b>{{ foo.event.percent }} %</b></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}