{% extends 'base.html' %}

{% block wp %}
    <h2>Conditional profit</h2>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Event (Процент бракованных изделий)</th>
                <th>Probability</th>
                <th>Процент брака по контракту</th>
                <th>CP</th>
            </tr>
        </thead>
        <tbody>
        {% for foo in cp %}

            <tr>
                <td>{{ foo.action }}</td>
                <td>Процент брака по делу: {{ foo.event.percent }} %</td>
                <td>{{ foo.probability }}</td>
                <td>{{ foo.quality }} %</td>
                <td>{{ foo.conditionalProfit }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}