{% extends 'base.html' %}
{% block reportEMV %}
    {% if probability != 1 %}
        <h1 class="error">Сумма вероятностей неравен 1</h1>
    {% else %}
        <h3>Отчет: Рекомендация для нашего клиента</h3>
        <p class = 'report'> Моему клиенту рекомендуется выбрать действие <b>{{ action }} </b>,
            Такое решение принесет ему максимальное значение среднеожидаемое прибыли равное <b>{{ cp }} $</b>
            Он точно получит такую прибль, если многократно, в пределе бесчисленное множество раз,
            будет решать эту задачу и при этом каждый раз будет выбирать это действие  <b>{{ action }} </b>
            При заданных в таблице исходных данных задачи
            <i>{Это значит, что максимальное среднее ожидаемой значение прибыли составит <b>{{ cp }} $</b> на каждое решение задачи }</i></p>

        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Event (Процент бракованных изделий)</th>
                    <th>Probability</th>
                    <th>Процент брака по контракту</th>
                    <th>CP</th>
                </tr>
            </thead>
            <tbody>
            {% for foo in wp %}

                <tr>
                    <td>{{ foo.action }}</td>
                    <td>Процент брака по делу: {{ foo.event.percent }} %</td>
                    <td>{{ foo.probability }}</td>
                    <td>{{ foo.quality }} %</td>
                    <td>{{ foo.conditionalProfit }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}