{% extends 'base.html' %}
{% block reportEMV %}

    {% if probability != 1 %}
        <h1 class="error">Сумма вероятностей неравен 1</h1>
    {% else %}
        <h3>Отчет: Рекомендация для нашего клиента</h3>
        <p class = 'report'> Моему клиенту рекомендуется выбрать действие <b>{{ action }} </b>
        Такое решение обеспечмвает ему минимум среднее ожидаемое значение
            потери равное <b>{{ cp }} $ </b>, это решение принесет такие минимальные потери если многократно в пределе
            бесчисленное множество раз будет решать эту задачу и при этом каждый раз будет выбирать действие <b>{{ action }} </b>
            При заданных в таблице исходных данных задач
            <i>{Это значит, что минимальное
            среднее ожидаемой значение процента потерь составит <b>{{ cp }} $</b> на на каждое решение задачи }</i></p>


        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Event (Процент бракованных изделий)</th>
                    <th>Probability</th>
                    <th>Процент брака по контракту</th>
                    <th>CP</th>
                </tr>
            </thead>
            <tbody>
            {% for foo in wp %}

                <tr>
                    <td>{{ foo.action }}</td>
                    <td>Процент брака по делу: {{ foo.event.percent }} %</td>
                    <td>{{ foo.probability }}</td>
                    <td>{{ foo.quality }} %</td>
                    <td>{{ foo.conditionalProfit }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}