{% extends 'base.html' %}
{% block reportEMV %}
    {% if probability != 1 %}
        <h1 class="error">Сумма вероятностей неравен 1</h1>
    {% else %}
        <h3>Отчет: Рекомендация для нашего клиента</h3>
        <p class = 'report'> Моему клиенту рекомендуется выбрать действие <b>{{ action }} </b>
        Такое решение обеспечивает ему победу в этой игре с максимальной средней ожидаемой прибылью равной <b>{{ cp }}$</b>
        После многократного, в пределе бесконечного количества участия в игре, наш клиент точно выиграет такую сумму, если
            он при каждой игре будет нажимать на кнопку <b>{{ action }}</b>
        при заданных в таблице исходных данных задачи {Это значит, что максимальное среднее ожидаемой значение
            выигрыша составит <b>{{ cp }}$</b> на одну игру }</p>
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Event</th>
                    <th>Probability</th>
                    <th>Profit</th>
                    <th>Fine</th>
                </tr>
            </thead>
            <tbody>
            {% for foo in wp %}

                <tr>
                    <td>{{ foo.action }}</td>
                    <td>{{ foo.event }}</td>
                    <td>{{ foo.probability }}</td>
                    <td>{{ foo.prize }}</td>
                    <td>{{ foo.fine }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}