{% extends 'base.html' %}

{% block wp %}
    <h2>Conditional profit</h2>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Event</th>
                <th>Probability</th>
                <th>CP</th>
            </tr>
        </thead>
        <tbody>
        {% for foo in cp %}

            <tr>
                <td>{{ foo.action }}</td>
                <td>{{ foo.event }}</td>
                <td>{{ foo.probability }}</td>
                <td>{{ foo.cp }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}