{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decision theory</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-submenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-submenu.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <header>
            <H1>Decision theory</H1>
            <nav class="navbar navbar-default">
{#              <div class="navbar-header">#}
{#                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">#}
{#                  <span class="sr-only">Toggle navigation</span>#}
{#                  <span class="icon-bar"></span>#}
{#                  <span class="icon-bar"></span>#}
{#                  <span class="icon-bar"></span>#}
{#                </button>#}
{##}
{#                <a class="navbar-brand">Decision theory</a>#}
{#              </div>#}

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                              1:Fortune<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/main/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/main/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li><a tabindex="0" href="/admin/main/conditionalprofit/" target="_blank">Conditional profit</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="">
                                4:Акция<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/bond/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/bond/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li><a tabindex="0" href="/admin/bond/conditionalprofit/" target="_blank">Conditional profit</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/bond/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/bond/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/bond/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/bond/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/bond/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/bond/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/bond/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/bond/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>



                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="">
                                2:Фондовая биржа<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/fund/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/fund/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/fund/cp">Conditional profit</a></li>
                                <li><a tabindex="0" href="/fund/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/fund/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/fund/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/fund/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/fund/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/fund/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/fund/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/fund/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="">
                                3:Rent computer<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/computer/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/computer/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/computer/cp">Conditional profit</a></li>
                                <li><a tabindex="0" href="/computer/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/computer/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/computer/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/computer/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/computer/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/computer/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/computer/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/computer/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="">
                                5:Food<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/food/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/food/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/food/revenue">Revenue Cost</a></li>
                                <li><a tabindex="0" href="/food/cp">Conditional profit</a></li>
                                <li><a tabindex="0" href="/food/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/food/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/food/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/food/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/food/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/food/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/food/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/food/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="">
                                8:Intel<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/intel/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/intel/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
{#                                <li><a tabindex="0" href="/engine/revenue">Revenue Cost</a></li>#}
                                <li><a tabindex="0" href="/intel/cp">Conditional profit</a></li>
                                <li><a tabindex="0" href="/intel/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/intel/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/intel/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/intel/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/intel/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/intel/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/intel/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/intel/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="">
                                12:Engine<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/engine/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/engine/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
{#                                <li><a tabindex="0" href="/engine/revenue">Revenue Cost</a></li>#}
                                <li><a tabindex="0" href="/engine/cp">Conditional profit</a></li>
                                <li><a tabindex="0" href="/engine/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/engine/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/engine/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/engine/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/engine/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/engine/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/engine/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/engine/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a tabindex="0" data-toggle="dropdown" data-submenu="">
                                9:Arkansas<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="0">List of </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" href="/admin/arkansas/actionlist/" target="_blank">List of Action</a></li>
                                        <li><a tabindex="0" href="/admin/arkansas/eventlist/" target="_blank">List of Event</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
{#                                <li><a tabindex="0" href="/engine/revenue">Revenue Cost</a></li>#}
                                <li><a tabindex="0" href="/arkansas/action">Action List</a></li>
                                <li><a tabindex="0" href="/arkansas/cp">Conditional profit</a></li>
                                <li><a tabindex="0" href="/arkansas/wp">Weighted profit</a></li>
                                <li><a tabindex="0" href="/arkansas/emv">Средняя ожидаемая прибль</a></li>
                                <li><a tabindex="0" href="/arkansas/solutionemv">Solution of the problem</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="0" href="/arkansas/cp_max">Максимальная условная прибль</a></li>
                                <li><a tabindex="0" href="/arkansas/col">COL Условные потери</a></li>
                                <li><a tabindex="0" href="/arkansas/wol">WOL Взвешанные потери </a></li>
                                <li><a tabindex="0" href="/arkansas/eol">EOL Средне ожидаеые потери</a></li>
                                <li><a tabindex="0" href="/arkansas/solutioneol">SolutionOfTaskByEOL</a></li>
                            </ul>
                        </li>

                    </ul>

                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a tabindex="0" data-toggle="dropdown" data-submenu="">
                      Dropdown 3<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                      <a tabindex="0">Action</a>

                      <ul class="dropdown-menu">
                        <li><a tabindex="0">Sub action</a></li>
                        <li class="dropdown-submenu">
                          <a tabindex="0">Another sub action</a>

                          <ul class="dropdown-menu">
                            <li><a tabindex="0">Sub action</a></li>
                            <li><a tabindex="0">Another sub action</a></li>
                            <li><a tabindex="0">Something else here</a></li>
                          </ul>
                        </li>
                        <li><a tabindex="0">Something else here</a></li>
                        <li class="disabled"><a tabindex="-1">Disabled action</a></li>
                        <li class="dropdown-submenu">
                          <a tabindex="0">Another action</a>

                          <ul class="dropdown-menu">
                            <li><a tabindex="0">Sub action</a></li>
                            <li><a tabindex="0">Another sub action</a></li>
                            <li><a tabindex="0">Something else here</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li class="dropdown-submenu">
                      <a tabindex="0">Another action</a>

                      <ul class="dropdown-menu">
                        <li><a tabindex="0">Sub action</a></li>
                        <li><a tabindex="0">Another sub action</a></li>
                        <li><a tabindex="0">Something else here</a></li>
                      </ul>
                    </li>
                    <li><a tabindex="0">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="0">Separated link</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
        {% block index %}{% endblock %}
        {% block wp %}{% endblock %}
        {% block reportEMV %}{% endblock %}
        {% block bond_index %}{% endblock %}
    </div>
    <script>
        $('[data-submenu]').submenupicker();
    </script>
</body>
</html>